@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
#root{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #0F1D2F;
    /* caret-color: transparent; */
}
button{
  cursor: pointer;
}
@keyframes glow {
  0%, 100% {
    text-shadow: 
      0 0 10px #00eaff,
      0 0 20px #ff00ff,
      0 0 30px #ffff00;
  }
  50% {
    text-shadow: 
      0 0 20px #ff00ff,
      0 0 40px #00eaff,
      0 0 60px #ffff00;
  }
}
.glow-text {
  animation: glow 2s ease-in-out infinite;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes progress10s {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
.animate-slideIn {
  animation: slideIn 0.4s ease-out forwards;
}

.animate-progress10s {
  animation: progress10s 10s linear forwards;
}
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}

